* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c0c0c0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c63ff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a7a3ff;
}

:root {
  --logo-font: "Major Mono Display", monospace;
  --title-font: "Ubuntu", sans-serif;
  --para-font: "M PLUS 1p", sans-serif;
  --nav-bar-height: 80px;
}

.dark {
  --nav-Bgcolor: #774069;
  --nav-color: #fff;

  --home-Bgcolor: #774069;
  --home-color: #fff;
  --home-sun-svg: #a2b5bf;

  --window-color: #2f2a25;
  --chair-color: #454845;
  --desk-color: #3c3b22;
  --display-color: #bf23af;

  --work-Bgcolor: #4c3a69;
  --work-color: #fff;

  --feature-Bgcolor: #4c3a69;
  --feature-color: #fff;
  --feature-card-Bgcolor: #4c3a69;
  --feature-card-color: #feecfe;
  --shadow-color: #fff;

  --footer-Bgcolor: #002543;
  --footer-second: #445388;
  --footer-color: #fff;

  --hover-Bgcolor: #29272a;
  --hover-color: #ff86e1;
}

.light {
  --nav-Bgcolor: #6fdcbf;
  --nav-color: #404040;

  --home-Bgcolor: #6fdcbf;
  --home-color: #404040;
  --home-sun-svg: #f4e962;

  --window-color: #313a5e;
  --chair-color: #454845;
  --desk-color: #3c3b22;
  --display-color: #6e8bff;

  --work-Bgcolor: #ae8fdb;
  --work-color: #000;

  --feature-Bgcolor: #ae8fdb;
  --feature-color: #000;
  --feature-card-Bgcolor: #f7f7f7;
  --feature-card-color: #0c0c0c;
  --shadow-color: #404040;

  --footer-Bgcolor: #267bc5;
  --footer-second: #e6675c;
  --footer-color: #0c0c0c;

  --hover-Bgcolor: #404040;
  --hover-color: #6fdcbf;
}

.dark .home-cloud {
  fill: #304a62;
  opacity: 0.85;
  stroke-width: 2px;
  stroke: #707a83;
}

img,
svg {
  -webkit-user-drag: none;
}

html {
  font-size: 16px;
}

body {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

p,
a {
  font-family: var(--para-font);
}

.nav-bar,
main {
  position: relative;
  overflow-x: hidden;
  z-index: 1;
}

section {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  background-color: var(--home-Bgcolor);
}

/* loading screen */

.load-wrap {
  width: 100%;
  height: 100%;
  background-color: #c4c4ff;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
  overflow: hidden !important;
}

.loader {
  --path: #2f3545;
  --dot: #5628ee;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}
.loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  -webkit-transform: translate(-18px, -18px);
  -ms-transform: translate(-18px, -18px);
  transform: translate(-18px, -18px);
  -webkit-animation: dotRect var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg rect,
.loader svg polygon,
.loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  -webkit-animation: pathTriangle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}
.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  -webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  -webkit-animation: pathCircle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}
.loader.triangle {
  width: 48px;
}
.loader.triangle:before {
  left: 21px;
  -webkit-transform: translate(-10px, -18px);
  -ms-transform: translate(-10px, -18px);
  transform: translate(-10px, -18px);
  -webkit-animation: dotTriangle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

@-webkit-keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }
  66% {
    stroke-dashoffset: 147;
  }
  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }
  66% {
    stroke-dashoffset: 147;
  }
  100% {
    stroke-dashoffset: 221;
  }
}
@-webkit-keyframes dotTriangle {
  33% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  66% {
    -webkit-transform: translate(10px, -18px);
    transform: translate(10px, -18px);
  }
  100% {
    -webkit-transform: translate(-10px, -18px);
    transform: translate(-10px, -18px);
  }
}
@keyframes dotTriangle {
  33% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  66% {
    -webkit-transform: translate(10px, -18px);
    transform: translate(10px, -18px);
  }
  100% {
    -webkit-transform: translate(-10px, -18px);
    transform: translate(-10px, -18px);
  }
}
@-webkit-keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}
@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}
@-webkit-keyframes dotRect {
  25% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(18px, -18px);
    transform: translate(18px, -18px);
  }
  75% {
    -webkit-transform: translate(0, -36px);
    transform: translate(0, -36px);
  }
  100% {
    -webkit-transform: translate(-18px, -18px);
    transform: translate(-18px, -18px);
  }
}
@keyframes dotRect {
  25% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(18px, -18px);
    transform: translate(18px, -18px);
  }
  75% {
    -webkit-transform: translate(0, -36px);
    transform: translate(0, -36px);
  }
  100% {
    -webkit-transform: translate(-18px, -18px);
    transform: translate(-18px, -18px);
  }
}
@-webkit-keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
.loader {
  display: inline-block;
  margin: 0 16px;
}

/*------------------------- navbar------------------- */

.nav-bar {
  width: 100%;
  -webkit-transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  -o-transition: box-shadow 0.2s, background-color 0.2s;
  transition: box-shadow 0.2s, background-color 0.2s;
  transition: box-shadow 0.2s, background-color 0.2s, -webkit-box-shadow 0.2s;
}

/* .scrolled {
  background-color: rgba(255, 255, 255, 0.94);
  position: fixed;
  box-shadow: 0 0 5px 0px;
  z-index: 10;
} */

.nav-container {
  height: var(--nav-bar-height);
  width: 90%;
  margin: 0 auto;
  padding: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item1,
.item2 {
  margin-right: 1.2rem;
}

.logo {
  margin-right: auto;
  height: min-content;
}

.logo a {
  font-family: var(--logo-font);
}

.nav-link {
  display: block;
  padding: 0.8rem;
  text-decoration: none;
  color: var(--nav-color);
  border-radius: 10px;
}

.nav-anim {
  position: relative;
  overflow: hidden;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.nav-anim:hover {
  color: var(--hover-color);
}

.nav-anim:before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--hover-Bgcolor);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.nav-anim:hover:before {
  top: 0;
}

/*---------------- section home ---------------------*/

.home {
  padding-top: 2rem;
  padding-bottom: 5rem;
  color: var(--home-color);
  background-color: var(--home-Bgcolor);
  min-height: calc(100vh - var(--nav-bar-height));
}

.spilt-container {
  margin-left: auto;
  width: 100%;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-con {
  max-width: 780px;
}

.home-title {
  font-size: clamp(2.8rem, 5vw, 3.8rem);
  text-transform: capitalize;
  line-height: 1.5;
  letter-spacing: 1.2;
  padding-left: calc(19px + 10%);
  margin-bottom: 1.2rem;
  max-width: 28ch;
}
.home-paragraph1 {
  margin-bottom: 1rem;
}

.home-paragraph1,
.home-paragraph2 {
  line-height: 1.5;
  letter-spacing: 1.2;
  padding-left: calc(19px + 10%);
}

.image-con {
  max-width: 700px;
}

.pair-programming {
  width: clamp(350px, 100%, 700px);
  display: block;
  margin-left: auto;
}

#white-hand,
#black-hair,
#black-head {
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  transform-box: fill-box;
}

.sun-container .home-sun.dark {
  -webkit-animation: rota 10s forwards;
  animation: rota 10s forwards;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

/*------------------------------------------------------- section work-------------------------------------- */
.work-feature-container {
  min-height: 100vh;
}

.work {
  padding: 1rem 1rem;
  text-align: center;
  background-color: var(--work-Bgcolor);
  color: var(--work-color);
}

.work-text-con {
  margin: auto;
  margin-bottom: 6rem;
  margin-top: 2rem;
}

.work-title {
  font-size: clamp(2.2rem, 5vw, 2.7rem);
  margin-bottom: 1.2rem;
}

.work-para {
  margin: auto;
  max-width: 55ch;
  width: 100%;
  min-width: 25ch;
  font-size: clamp(1rem, 5vw, 1.4rem);
}

.work-card-container {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.work-card-title {
  font-size: clamp(1.2rem, 5vw, 1.8rem);
}

.work-card-para {
  font-size: clamp(1rem, 5vw, 1.4rem);
  margin-top: 1.5rem;
}

.work-card {
  min-width: 350px;
  max-width: 300px;
  padding: 0.81rem;
}

.work-card-img {
  width: 81px;
  margin-bottom: 1rem;
}

.work-card h4 {
  margin-bottom: 1rem;
}

/*---------------------------- features --------------------------- */
.features {
  padding: 1rem;
  padding-right: 0;
  background-color: var(--feature-Bgcolor);
  color: var(--feature-color);
}

.features-text-con {
  margin-top: 2.5rem;
  padding-left: calc(19px + 10%);
}

.features-title {
  font-size: clamp(2.2rem, 5vw, 2.7rem);
  margin-bottom: 1rem;
}

.features-para {
  margin-bottom: 2.5rem;
  font-size: clamp(1rem, 5vw, 1.4rem);
}

.features-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 150px;
  width: calc(90% - (19px + 10%));
  padding: 1rem 0.4rem;
  overflow: auto;
  cursor: -webkit-grab;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.features-items::-webkit-scrollbar {
  height: 4px;
}

/* Track */
.features-items::-webkit-scrollbar-track {
  background: #c0c0c000;
}

/* Handle */
.features-items::-webkit-scrollbar-thumb {
  background: #3535eb00;
  border-radius: 10px;
}

/* Handle on hover */
.features-items::-webkit-scrollbar-thumb:hover {
  background: #00000000;
}

.feature-item {
  padding: 2rem;
  min-width: 300px;
  height: 350px;
  /* -webkit-box-shadow: 0 0 5px 0 var(--shadow-color);
          box-shadow: 0 0 5px 0 var(--shadow-color); */
  border: 5px solid var(--shadow-color);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.feature-item:not(:last-child) {
  margin-right: 1.5rem;
}

.feature-card-para,
.feature-card-title {
  padding-left: 1rem;
}

.feature-card-para{
  font-size: clamp(1rem, 5vw, 1.1rem);
}

.test-img {
  width: 81px;
}

/*------------------- footer---------------- */

footer {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--footer-Bgcolor);
  color: var(--footer-color);
  position: sticky;
  bottom: 0;
  left: 0;
}

.footer-content-container {
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 1rem;
}

.footer-container {
  padding: 1rem;
  max-width: 450px;
}

.footer-items {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background-color: var(--footer-second);
  cursor: default;
}

.footer-title-1 {
  position: absolute;
  left: 3%;
  top: -5%;
  font-size: clamp(2.2rem, 5vw, 3rem);
}

.footer-title-2 {
  font-size: clamp(1.5rem, 5vw, 1.8rem);
}

.footer-para {
  margin-top: 1rem;
  font-size: clamp(1.2rem, 4vw, 1.5rem);
}

.email-link {
  color: var(--footer-color);
  font-weight: 900;
  cursor: pointer;
}

#email-address {
  cursor: url("./images/icon/copy2.png"), pointer;
  position: relative;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#email-address::after {
  content: "click to copy";
  font-size: 0.81rem;
  position: absolute;
  top: 100%;
  width: 70%;
  left: 50%;
  font-family: var(--para-font);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 11;
  background-color: white;
  border-radius: 10px;
  color: black;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  text-transform: capitalize;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

#email-address.copied::after {
  content: "copied!";
}

#email-address:hover::after,
#email-address:focus::after {
  opacity: 0.91;
}

.footer-svg-wrapper {
  width: 55%;
  min-width: 350px;
  max-width: 700px;
}

footer svg {
  width: 100%;
}

/* theme */

.nav-bar {
  background-color: var(--nav-Bgcolor);
  -webkit-transition: background-color 0.2s, color 0.6s;
  -o-transition: background-color 0.2s, color 0.6s;
  transition: background-color 0.2s, color 0.6s;
}
.home {
  background-color: var(--home-Bgcolor);
  -webkit-transition: background-color 0.2s, color 0.6s;
  -o-transition: background-color 0.2s, color 0.6s;
  transition: background-color 0.2s, color 0.6s;
}

.work {
  background-color: var(--work-Bgcolor);
  -webkit-transition: background-color 0.2s, color 0.6s;
  -o-transition: background-color 0.2s, color 0.6s;
  transition: background-color 0.2s, color 0.6s;
}

.features {
  background-color: var(--feature-Bgcolor);
  -webkit-transition: background-color 0.2s, color 0.6s;
  -o-transition: background-color 0.2s, color 0.6s;
  transition: background-color 0.2s, color 0.6s;
}

footer {
  background-color: var(--footer-Bgcolor);
  -webkit-transition: background-color 0.2s, color 0.6s;
  -o-transition: background-color 0.2s, color 0.6s;
  transition: background-color 0.2s, color 0.6s;
}

/* animation and media query */

@keyframes rota {
  25% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: rotate(320deg);
    transform: rotate(320deg);
  }
  100% {
    opacity: 1;
    fill: #cad9dd;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1020px) {
  .footer-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .footer-title-2 {
    margin-top: 5rem;
  }
}
@media screen and (max-width: 850px) {
  .spilt-container .image-con {
    display: none;
  }
  .home {
    padding: 2.5rem 1rem 3.5rem 0;
    position: relative;
  }

  .home-title {
    margin-top: 2rem;
  }

  .home-paragraph1 {
    margin-top: 2rem;
  }

  .work,
  .features {
    position: relative;
  }

  .spilt-container {
    min-height: 70vh;
    padding: 0 1rem;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }
  .home-title,
  .home-paragraph1,
  .home-paragraph2 {
    padding-left: 10%;
  }
  .home-paragraph1,
  .home-paragraph2 {
    width: 85%;
  }
}
@media screen and (max-width: 1000px) {
  .work-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .work-card:not(:last-child) {
    margin-bottom: 1rem;
  }
  .footer-content-container {
    padding-left: 0;
    padding-right: 0;
  }
  .footer-items {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .nav-items .nav-link {
    display: none;
  }
  .home {
    padding-top: 2rem;
  }
  .home::after {
    content: "";
    width: 100px;
    height: 5px;
    background-color: #5628ee;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 3;
  }
  .work::after {
    content: "";
    width: 100px;
    height: 5px;
    background-color: #5628ee;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 3;
  }
  .features::after {
    content: "";
    width: 100px;
    height: 5px;
    background-color: #5628ee;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 3;
  }
  .features {
    padding-left: 0;
  }

  .features-text-con {
    padding-left: 1rem;
  }

  .features-items {
    width: 100%;
  }
}

/*home svg theme toggler */

.toggler-contanier {
  width: 60px;
  height: 50px;
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.home-svg-leaf {
  fill: #6f9f05;
}

.window {
  fill: var(--window-color);
}

.chair {
  fill: var(--chair-color);
}
.desk {
  fill: var(--desk-color);
}

.display {
  fill: var(--display-color);
}

.home-sun {
  fill: var(--home-sun-svg);
}

.feature-item {
  background-color: var(--feature-card-Bgcolor);
  color: var(--feature-card-color);
}
